
@font-face {
	font-family: AvenirNextLTPro-Bold;
	src: url(../fonts/AvenirNextLTPro-Bold.ttf);
}

@font-face {
	font-family: AvenirLTProBlack;
	src: url(../fonts/AvenirLTProBlack.otf);
}
@font-face {
	font-family: AvenirLTProBook;
	src: url(../fonts/AvenirLTProBook.otf);
}
@font-face {
	font-family: AvenirLTProHeavy;
	src: url(../fonts/AvenirLTProHeavy.otf);
}
@font-face {
	font-family: AvenirLTProLight;
	src: url(../fonts/AvenirLTProLight.otf);
}
@font-face {
	font-family: AvenirLTProMedium;
	src: url(../fonts/AvenirLTProMedium.otf);
}
@font-face {
	font-family: AvenirLTProRoman;
	src: url(../fonts/AvenirLTProRoman.otf);
}

@font-face {
	font-family: Industry-Bold_RUS;
	src: url(../fonts/Industry-Bold_RUS.ttf);
}
@font-face {
	font-family: AvenirLTProHeavy;
	src: url(../fonts/AvenirLTProHeavy.otf);
}

a {
  text-decoration: none;
}

nav {
	position: sticky;
}

body {
	background-color: rgb(30, 30, 30);
	color: black;
	font-family: "AvenirLTProMedium";
}

.menu {
	margin: auto;
	position: sticky;
	height: 30px;
	width: 540px;
  font-size: 20px;
  border: 1px solid #242322;
}

.menu_block {
	width: 180px;
	text-align: center;
}

.row {
  display: flex;  
  flex-direction: row;
  text-align: center;
}

.logo {
	width: 100px;
	height: 100px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	margin-top: 10px;
}

.main {
	width: 80%;
	margin-left: 10%;
  margin-right: 10%;
	height: 900px;
	background-color: white;
	text-align: center;
}

.row_block {
	display: inline;
  border: 1px solid black;
  width: 11%;
  height: 20px;
  padding: 10px;
  color: white;
  font-size: 18px;
}

#invisibleTriggerProgress {
	position: fixed;
	background-color: black;
	height: 40px;
	width: 1440px;
	opacity: 0.3;
}

#progressBar {
	max-width: 1440px;
	font-size: 18px;
	position: -webkit-sticky;
	position: sticky;
  top: 10px;
  margin: auto;
  height: auto;
  max-height: 5px;
  overflow: hidden;
  transition: max-height 1.5s;
}

#progressBar:hover {
  max-height: 40px;
}

#title {
	color: rgb(149, 126, 94);
	font-size: 30px;
	font-family: Industry-Bold_RUS;
	display: block;
	text-align: center;
	width: auto;
	margin: auto;
}

