
@font-face {
	font-family: AvenirNextLTPro-Bold;
	src: url(../fonts/AvenirNextLTPro-Bold.ttf);
}
@font-face {
	font-family: AvenirLTProBlack;
	src: url(../fonts/AvenirLTProBlack.otf);
}
@font-face {
	font-family: AvenirLTProBook;
	src: url(../fonts/AvenirLTProBook.otf);
}
@font-face {
	font-family: AvenirLTProHeavy;
	src: url(../fonts/AvenirLTProHeavy.otf);
}
@font-face {
	font-family: AvenirLTProLight;
	src: url(../fonts/AvenirLTProLight.otf);
}
@font-face {
	font-family: AvenirLTProMedium;
	src: url(../fonts/AvenirLTProMedium.otf);
}
@font-face {
	font-family: AvenirLTProRoman;
	src: url(../fonts/AvenirLTProRoman.otf);
}
@font-face {
	font-family: Industry-Bold_RUS;
	src: url(../fonts/Industry-Bold_RUS.ttf);
}
@font-face {
	font-family: AvenirLTProHeavy;
	src: url(../fonts/AvenirLTProHeavy.otf);
}

a {
  text-decoration: none;
}

nav {
	position: sticky;
}

header {
	display: flex;
}

body {
	background-color: rgb(30, 30, 30);
	color: black;
	font-family: "AvenirLTProMedium";
}

canvas {
	width: 100%;
	height: 100%;
}

.menu {
	margin: auto;
	position: sticky;
	height: 30px;
	width: 540px;
  font-size: 20px;
  border: 1px solid #242322;
}

.menu_block {
	width: 180px;
	text-align: center;
}

.row {
  display: flex;  
  flex-direction: row;
  text-align: center;
}

.row_block {
	display: inline;
  border-right: 1px dashed white;
  width: 11%;
  height: 20px;
  padding: 10px;
  color: white;
  font-size: 18px;
}

.right{
	border-right: 0px;
}

#invisibleTriggerProgress {
	position: fixed;
	height: 40px;
	width: 1540px;
	opacity: 1;
}

#progressBar {
	max-width: 1540px;
	font-size: 18px;
	position: -webkit-sticky;
	position: sticky;
  margin: auto;
  height: auto;
  max-height: 5px;
  overflow: hidden;
  transition: max-height 1.5s;
}

#progressBar:hover {
  max-height: 40px;
}

#title {
	color: rgb(149, 126, 94);
	font-size: 24px;
	font-family: Industry-Bold_RUS;
	text-align: right;
	width: 322;
	margin-right: 50px;
}

#logo {
	max-width: 75px;
	max-height: 75px;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

#logoText{
	position: relative;
	bottom: 20px;
	text-align: center;
	display: inline-block;
}

#mainFrame{
	border-radius: 1%;
	position: fixed;
	top: 115px;
	z-index: -1;
	width: 99%;
	height: 90%;
	background-color: black;
}